/* 共通 --------------------------------------------*/



html {
  font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 14px;
}


body {
  color: black;
}

header {
  width: 100%;
  display: flex;
}

.header-logo {
  width: 50%;
}


.header-menus {
  width: 50%;
  text-align: right;
}

.example { 
  cursor: pointer;
 } 


/* 設定のアイコン */
.config{
  width:25px; 
  height:25px; 
  margin: 20px;
}

/* アイコンの表示 */
.icon{
  width:25px; 
  height:25px; 
  margin: 10px;
}


 /* フォームのデザイン */
 input{
  width: 20%;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

select{
  width: 10%;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

textarea{
  width: 80%;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}



/* main --------------------------------------------*/

.line_box{
    padding: 20px 20px;
    margin: 50px;
    border: 2px solid #aaa;
    color: rgb(58, 58, 58);/*文字色*/
    background: #FFF;
    border: 2px solid #aaa;
    border: solid 1px rgb(58, 58, 58);/*線*/
    border-radius: 5px;/*角の丸み*/
}

.list_box p {
    margin: 0; 
    padding: 0;
}

.event_image{
  width: 60px;
  height: 60px;
}

.article_image{
  width: 60px;
  height: 60px;
}



/* index.html----------------------------- */


.bg {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  }

  .bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.5);
  }






